QuipuWeb/XmlDTO/xsd/ClientXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Clients">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Client">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="phone" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="birthdate" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element maxOccurs="unbounded" minOccurs="0" name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="postCode" type="xs:unsignedShort" />
                    <xs:element name="IdClient" minOccurs="0" maxOccurs="1" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>